<html>
    <head>
		<meta name="viewport" content="width=device-width", initial-scale=1>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/go_live.css') }}">
    </head>
    <body>
        <div id=FormBox>
            <div class=MainBody>
                <h1 id=header>Setup The Stream</h1>
                <form action="" method="post" novalidate>
                    {{ form.csrf_token }}
                    {{ form.stream_title.label }}<br>
                    {{ form.stream_title(class=StreamInput) }}
                    {% for error in form.stream_title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <input type="submit" value="Go Live">
                </form>
            </div>
        </div>
    </body>
</html>