{% extends 'base.html' %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/go_live.css') }}">
{% endblock head %}
{% block body %}
    <div id=body>
        <h1 id=header>{% if state==False %}Would You Like To Go Live?{% else %}Would You Like To Stop The Stream?{% endif %}</h1>
        <form action="" method="POST" novalidate>
            {{ form.csrf_token }}
            {{ form.are_you_sure(class='form')}}<br>
            {{ form.submit }}
        </form>
    </div>
{% endblock body %}