#content {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#body {
    display: block;
    background-color: aliceblue;
    width: 50%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}
.form {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
  }