#boxes {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: royalblue;
}
body {
    background-color: rgb(28, 76, 165);
}
button {
border: 0;
border-radius: 8px;
}
p {
    color: white;
}
#camera_button {
    width: 46%;
    height: 40%;
    margin-left: 3%;
    font-size: 1.5em;
    background-color: rgb(0, 145, 0);
}
#center_button {
    width: 46%;
    height: 40%;
    font-size: 1.5em;
    margin-right: 2%;
    background-color: red;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

#mid_panel {
    display: block;
    position: absolute;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(209, 209, 209);
    width: 50%;
    margin-left: 23%;
    margin-right: 25%; 
}
#auto_check {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 8%;
}
#auto_box {
    padding: 1%;
    display: inline-block;
}
#timer {
    font-size: 70px;
}
#bottom_buttons {
    position: fixed;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 25%;
}
#clicker_prev:active{
    background-color: beige;
    color: rgb(59, 59, 59);
}
#clicker_next:active{
    background-color: beige;
    color: rgb(59, 59, 59);
}
#clicker_prev {
    width: 46%;
    height: 100%;
    font-size: 1.5em;
    margin-left: 3%;
    color: whitesmoke;
    background-color: grey;
}
#clicker_next {
    width: 46%;
    height: 100%;
    font-size: 1.5em;
    margin-right: 2%;
    color: whitesmoke;
    background-color: grey;
}
